.issue-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: var(--color-white);
  border-radius: 12px;
  cursor: pointer;
  color: var(--color-grey-500);
}

.issue-item:hover {
  color: var(--color-grey-900);
}