@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
  --color-grey-900: #201f24;
  --color-grey-500: #696868;
  --color-beige-100: #f8f4f0;
  --color-white: #fff;
}

a {
  text-decoration: none;
  color: var(--color-grey-500);
}

main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 2rem;
}

body {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-beige-100);
  color: var(--color-grey-900);
}

h1,
h2 {
  color: var(--color-grey-900);
}
